<!-- 待出入款管理  明细查询-->
<ol class="breadcrumb">
    <li></li>
    <li><a href="#/daily/payment">待出入款管理</a></li>
    <li><a>明细查看</a></li>
</ol>

<div ng-controller="paymentAccountController">
    <div>
        <h3 style="display: inline-block;">{{param.amountV}}</h3>
        <small>(总金额)</small>
        
        <i class="fa fa-spin fa-spinner" ng-show="loading"></i>
    </div>
    <table class="table table-bordered table-striped v-middle">
        <tbody>
        <tr>
            <th>会员编号</th>
            <th>用户编号</th>
            <th>用户名称</th>
            <th style="width: 220px;">订单编号</th>
            <th>金额(元)</th>
            <th>交易时间</th>
            <th>交易类型</th>
            <th>订单状态</th>
            <th>备注</th>
        </tr>
        <tr ng-repeat="r in orders">
            <td>{{r.memberId}}</td>
            <td>{{r.userId}}</td>
            <td>{{r.userName}}</td>
            <td>{{r.orderId}}</td>
            <td>{{r.amountV}}</td>
            <td>{{r.orderTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{r.orderTypeV}}</td>
            <td>{{r.orderStatusV}}</td>
            <td>{{r.memo}}</td>
        </tr>
        </tbody>
    </table>

    <pagination total-page="pagination.totalPage" current-page="pagination.currentPage"
                on-select-page="query(page);"></pagination>
</div>
