<!-- 账户变动一览-->
<ol class="breadcrumb">
    <li>/<a href="#">会员账户</a></li>
</ol>
<div ng-controller="memberAccountController">
    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <div class="box-title">筛选条件
            </div>
        </div>
        <div class="box-body query-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-group-inline">
                        <label>用户编号</label>
                        <input type="text" class="form-control" ng-model="userId" placeholder="完整的用户编号"/>
                    </div>
                    &nbsp;&nbsp;
                    <button class="btn btn-primary" ng-click="query();">
                        查询<i class="fa fa-spin fa-spinner" ng-show="loading"></i>
                    </button>
                    &nbsp;&nbsp;
                    <a href="#/daily/memberaccountview">查看会员账户变动明细</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped v-middle">
        <tbody>
        <tr>
            <th>会员编号</th>
            <th>用户编号</th>
            <th>用户名称</th>
            <th>总资产</th>
            <th>账户余额(元)</th>
            <th>理财资产</th>
        </tr>
        <tr ng-repeat="r in accounts">
            <td>{{r.memberId}}</td>
            <td>{{r.chanUserId}}</td>
            <td>{{r.chanUserName}}</td>
            <td>{{r.accountInfo.vm.totalAssetV}}</td>
            <td><a href="#/daily/memberaccountview?userId={{r.chanUserId}}">{{r.accountInfo.vm.balanceV}}</a></td>
            <td><a href="#/daily/memberaccountfundview?userId={{r.chanUserId}}">{{r.accountInfo.vm.subjectAssetV}}</a>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination total-page="pagination.totalPage" current-page="pagination.currentPage"
                on-select-page="query(page);"></pagination>
</div>

