<!-- 货基收益 -->
<ol class="breadcrumb">
    <li>/<a>货基收益详情</a></li>
</ol>
<div ng-controller="fundProfitController">
    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <div class="box-title">查询收益</div>
        </div>
        <div class="box-body query-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-inline">
                        <label>用户信息</label>
                        <input type="text" class="form-control" ng-model="memberId" placeholder="完整的用户编号或名称">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-inline">
                        <label>收益状态</label>
                        <select class="form-control" ng-model="status">
                            <option ng-repeat="s in statuses" value="{{s.value}}" ng-selected="s.value == status">
                                {{s.text}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px;margin-top: -15px;">
                    <label class="group-label">收益日</label>

                    <div style="width: 200px;display: inline-block;position: relative;top: 13px;">
                        <div class='input-group date'
                             my-date-time="{format:'YYYY-MM-DD',showClear:true}">
                            <input type='text' class="form-control" ng-model="startDate"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                        </div>
                    </div>
                    &nbsp;&nbsp;
                    <button class="btn btn-primary" ng-click="query();">
                        查询<i class="fa fa-spin fa-spinner" ng-show="loading"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <table class="table table-bordered table-striped v-middle">
        <tbody>
        <tr>
            <th>收益批次号</th>
            <th>用户编号</th>
            <th>用户名</th>
            <th>收益状态</th>
            <th>收益日</th>
            <th>昨日份额</th>
            <th>昨日收益</th>
            <th>发放时间</th>
        </tr>
        <tr ng-repeat="o in orders">
            <td>{{o.profitsId}}</td>
            <td>{{o.memberId}}</td>
            <td></td>
            <td>{{o.orderStatusV}}</td>
            <td>{{o.dateT | date:'yyyy-MM-dd'}}</td>
            <td>{{o.amountV}}</td>
            <td>{{o.profitV}}</td>
            <td>{{o.createAt|date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        </tbody>
    </table>
    <pagination total-page="pagination.totalPage" current-page="pagination.currentPage"
                on-select-page="query(page);"></pagination>
</div>


