<!-- 货基交易记录 -->
<ol class="breadcrumb">
    <li>/<a>货基交易记录</a></li>
</ol>
<div ng-controller="fundTradeController">
    <div class="box box-solid box-default">
        <div class="box-header with-border">
            <div class="box-title">查询交易记录
            </div>
        </div>
        <div class="box-body query-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-inline">
                        <label>用户信息</label>
                        <input type="text" class="form-control" ng-model="memberId" placeholder="完整的用户编号或名称">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-group-inline">
                        <label>交易类型</label>
                        <select class="form-control" ng-model="type">
                            <option ng-repeat="s in types" value="{{s.value}}"
                                    ng-selected="s.value==type">{{s.text}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="position: relative;top: -13px;">
                        <label class="group-label">交易时间</label>

                        <div style="width: 220px;display: inline-block;position: relative;top: 13px;">
                            <div class='input-group date'
                                 my-date-time="{linkSelector:'#dtp1'}">
                                <input type='text' class="form-control" ng-model="startDate"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                            </div>
                        </div>
                        <label>&nbsp;&nbsp;
                            至&nbsp;&nbsp;
                        </label>

                        <div style="width: 220px;display: inline-block;position:relative;top: 13px;">
                            <div class='input-group date' my-date-time id="dtp1">
                                <input type='text' class="form-control" ng-model="endDate"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                            </div>
                        </div>
                        &nbsp;&nbsp;
                        <button class="btn btn-primary" ng-click="query();">
                            查询<i class="fa fa-spin fa-spinner" ng-show="loading"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped v-middle">
        <tbody>
        <tr>
            <th style="width: 220px;">订单号</th>
            <th>用户编号</th>
            <th>用户名</th>
            <th>交易类型</th>
            <th>金额(元)</th>
            <th>交易时间</th>
        </tr>
        <tr ng-repeat="o in orders">
            <td>{{o.orderNo}}</td>
            <td>{{o.memberId}}</td>
            <td></td>
            <td>{{o.orderTypeV}}</td>
            <td>{{o.amountV}}</td>
            <td>{{o.transactTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
        </tbody>
    </table>
    <pagination total-page="pagination.totalPage" current-page="pagination.currentPage"
                on-select-page="query(page);"></pagination>
</div>